[Unit]
Description=Helpific webpage
After=etcd.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
Restart=always
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill helpific
ExecStartPre=-/usr/bin/docker rm helpific
ExecStartPre=/usr/bin/docker pull argoroots/helpific:latest
ExecStart=/usr/bin/docker run \
          --name="helpific" \
          --env="PORT=4000" \
          --env="NEW_RELIC_APP_NAME=" \
          --env="NEW_RELIC_LICENSE_KEY=" \
          --env="NEW_RELIC_LOG=stdout" \
          --env="NEW_RELIC_LOG_LEVEL=error" \
          --env="NEW_RELIC_NO_CONFIG_FILE=true" \
          --env="ENTU_USER=" \
          --env="ENTU_KEY=" \
          --volume="/data/helpific/log:/usr/src/helpific/log" \
          --publish="80:4000" \
          argoroots/helpific
ExecStop=/usr/bin/docker stop helpific

[X-Fleet]
Conflicts=helpific*
MachineMetadata=public_ip=
