extends layout
block vars
    - title = 'MEIST'
block content
    .container
        .row
            h2.col-xs-12 MEIST
            p.col-xs-12.text-justify Helpific on veebipõhine tugikeskkond, mis aitab erivajadustega inimestel leida vabatahtlikke abistajaid ning tellida isikliku abistaja teenust. Helpific on inimeselt inimesele lahendus, aidates luua tugevamaid kogukondi.
            p.col-xs-12.text-justify Helpific on saanud alguse ideede arendamise võistluselt „Garage48 Enable” (tõlkes „Tee võimalikuks”). Publikulemmikuks valitud veebiplatvorm Helpific toob sotsiaalvaldkonda uuenduslikke ning mugavaid info- ja kommunikatsioonitehnoloogia (IKT) lahendusi, et muuta erivajadustega inimeste elu kergemaks ja võimaldada paremat toimetulekut.
            p.col-xs-12.text-justify Helpific meeskonda kuuluvad jurist ja ettevõtja Keiu Roosimägi, ettevõtja Annika Amenberg, Tallinna Ülikooli sotsiaalpoliitika õppejõud Zsolt Bugarszki, pikalt personalivaldkonnas tegutsenud Triin Üksvärav ja IT-valdkonna spetsialist Anton Anikin. Neile on toeks Jüri Lehtmets ja Tom Rüütel – noored erivajadusega mehed, kes on eeskujuks paljudele. Meeskonda mentordab Estonian Business Angels Network (EstBAN) liige ja Telegrupp AS juhatuse esimees Ivo Remmelg. Helpific kaasab oma tegevustesse edukalt interne ja entusiastlikke vabatahtlikke, kellel on sügav huvi panustada targemate ja hoolivamate kogukondade tekkesse ning startup maailmas toimuva vastu. Helpificis on esindatud erinevad rahvused, erinevas vanuses mehed ja naised ning puudeta ja puudega inimesed.
            p.col-xs-12.text-justify Helpific on Vabatahtliku Tegevuse Võrgustiku liige ning liitunud Mitmekesisuse Kokkuleppega. Helpific arendab aktiivselt koostööd kohalike ja rahvusvaheliste avalike institutsioonide, valitsusväliste organisatsioonide ja ettevõtjatega. Projektide ja partneritega saate tutvuda Helpific veebilehel, blogis,  sotsiaalvõrgustikes ning partnerite lehel. Helpificu on tunnustatud Eesti Kurtide Liidu poolt kommunikatsioonilise ja kultuurilise juurdepääsetavuse silmapaistva toetamise eest.


            h2.col-xs-12 MISSIOON
            p.col-xs-12.text-justify Tagada ja hoida iga inimese eneseväärikus, et elus ei jääks midagi puude tõttu tegemata ning anda vabatahtlike kaasamisega panus tugevamate kogukondade ja targa ühiskonna kujunemisse.

            h2.col-xs-12 VISIOON
            p.col-xs-12.text-justify Helpific on aastaks 2020 parim ja suurim platvorm Euroopas, kus erivajadustega inimesed saavad palgata isiklikku abistajat.

            h2.col-xs-12 VÄÄRTUSED
            .col-xs-12.text-justify
                ul
                    li  Austus
                    li  Vastutus
                    li  Innovatsioon



