extends layout
block vars
    - title = 'MEIST'
block content
    .container
        .row
            .col-xs-12
                .text-center(style='padding: 20px;')
                    p
                        | Helpific on veebipõhine tugikeskkond, mille kaudu erivajadustega inimesed saavad tellida vabatahtlikke abistajaid või tasulisi teenuseid.
                        | Helpific on inimeselt inimesele lahendus, aidates luua tugevamaid kogukondi.
    .row.spacer
    div(style='background: #579390')
        .container
            .row.spacer
            .row
                .col-xs-12
                    .text-center(style='padding: 20px;')
                        img(src='/images/about/idea.png')
                        h3.text-uppercase.color-white Idee
                        .row.spacer
                        p.color-white
                            | Helpific on saanud alguse ideede arendamise võistluselt „Garage48 Enable” (tõlkes „Tee
                            | võimalikuks”). Publikulemmikuks valitud veebiplatvorm Helpific toob sotsiaalvaldkonda
                            | uuenduslikke ning mugavaid info- ja kommunikatsioonitehnoloogia (IKT) lahendusi, et
                            | muuta erivajadustega inimeste elu kergemaks ja võimaldada paremat toimetulekut.
                        .row.spacer
                        img(src='/images/about/history.jpg', style='width: 80%')
            .row.spacer
    .parallax.parallax-2
    .container
        .row.spacer
        h3.text-center.text-uppercase Meeskond
        .row
            .col-md-4.col-sm-6.col-xs-12
                img.about-images(src='/images/team/keiu.jpg')
                h3.about Keiu Roosimägi
                p Jurist ja ettevõtja
            .col-md-4.col-sm-6.col-xs-12
                img.about-images(src='/images/team/zsolt.jpg')
                h3.about Zsolt Bugarszki
                p Tallinna Ülikooli õppejõud
            .col-md-4.col-sm-6.col-xs-12
                img.about-images(src='/images/team/annika.jpg')
                h3.about Annika Amenberg
                p Ettevõtja
            .col-md-4.col-sm-6.col-xs-12
                img.about-images(src='/images/team/triin.jpg')
                h3.about Triin Üksvärav
                p Personalivaldkond
            .col-md-4.col-sm-6.col-xs-12
                img.about-images(src='/images/team/anton.jpg')
                h3.about Anton Anikin
                p IT spetsialist
        .row.spacer
        h3.text-center.text-uppercase Lisaks
        .row
            .col-md-4.col-sm-6.col-xs-12
                img.about-images(src='/images/team/jyri.jpg')
                h3.about Jüri Lehtmets
            .col-md-4.col-sm-6.col-xs-12
                img.about-images(src='/images/team/tom.jpg')
                h3.about Tom Rüütel
            .col-md-4.col-sm-6.col-xs-12
                img.about-images(src='/images/team/laur.jpg')
                h3.about Laur Raudsoo
            .col-md-4.col-sm-6.col-xs-12
                .inner
                    h3
                        | Internid ja
                        | entusiastlikke vabatahtlikud
                a(href='team')
                    p Kuva kogu meeskond
        .row.spacer
        h3.text-center.text-uppercase Mentorid
        .row
            .col-md-4.col-sm-6.col-xs-12
                img.about-images(src='/images/team/ivo.jpg')
                h3.about Ivo Remmelg
                p Telegrupp AS juhatuse esimees
            .col-md-4.col-sm-6.col-xs-12
                img.about-images(src='/images/team/estban-logo.svg')
                h3.about Estonian Business Angels Network (EstBAN)
    .row.spacer
    .parallax.parallax-1
    div(style='background: #e6e6e6')
        .container
            .row.spacer
            .row(style='magrin: 0 auto; text-align: center;')
                .col-xs-12
                    .text-center(style='padding: 20px;')
                        h3.text-uppercase PEAME OLULISEKS
                        .row.spacer
                        .row(style='magrin: 0 auto; text-align: center;')
                            .col-md-4
                                .inner-block(style='background: #579390;padding: 20px;min-height: 300px;')
                                    i.fa.fa-rocket.icon
                                    h3.about Missioon
                                    p
                                        | Helpificu missioon on edendada
                                        | erivajadustega inimeste iseseisvat elu ja
                                        | panustada tugevamate kogukondade kujundamisse.
                            .col-md-4
                                .inner-block(style='background: #579390;padding: 20px;min-height: 300px;')
                                    i.fa.fa-thumb-tack.icon
                                    h3.about Visioon
                                    p
                                        | Helpific on parim ja suurim tugikeskkond Euroopas aastaks 2020,
                                        | mille kaudu erivajadustega inimesed saavad osta teenuseid ja
                                        | leida vabatahtlikke, et elada iseseisvat elu.
                            .col-md-4
                                .inner-block(style='background: #579390;padding: 20px;min-height: 300px;')
                                    i.fa.fa-heart.icon
                                    h3.about Väärtused
                                    p
                                        ul
                                            li * Austus
                                            li * Vastutus
                                            li * Innovatsioon
            .row.spacer
    .container
        .row.spacer
        h3.text-center.text-uppercase MEIE PARTNERID
        .row(style='text-align:center')
        .row.spacer
        .row.spacer
            each p, i in partners
                .col-xs-6.col-sm-3
                    a(href=p.get('url.value'), target='_blank', title=p.get('note.value'))
                        img.col-xs-9.col-sm-9.col-md-9(src=p.get('photo.file'), alt=p.get('name.value'), style='margin-bottom:20px')
        .row.spacer
    .container.last-words
        .row
            .row.spacer
            h2.text-center LÕPETUSEKS
            .row.spacer
            p
                | Oleme Vabatahtliku Tegevuse Võrgustiku liige ning liitunud Mitmekesisuse Kokkuleppega.
                | Lisaks arendame aktiivselt koostööd kohalike ja rahvusvaheliste avalike institutsioonide,
                | valitsusväliste organisatsioonide ja ettevõtjatega. Helpificu on tunnustatud Eesti Kurtide Liidu poolt
                | kommunikatsioonilise ja kultuurilise juurdepääsetavuse silmapaistva toetamise eest.
           .row.spacer
        .row(style='text-align:center')
           img(src='/images/about/vorgustik_rgb.jpg', style='width: 80%')
           .row.spacer
