extends layout

block vars
    - title = 'Installation LIFE WITHOUT BORDERS'

block content
    .container
        .row
            p.col-xs-12.text-justify This installation aims with positive stories to encourage all community members to
                strong  ACKNOWLEDGE
                |  people with special needs as
                strong  INDIVIDUALS
                | , who are no different from people of same age – they go out for dating, clubbing, do sports, have hobbies and work in different jobs.
                strong  SIX
                |  amazing stories invite you to break down the prejudice and public attitudes towards people with special needs and raise the
                strong  AWARENESS
                |  of potential volunteers who would be willing to help them. In cooperation with JCI Estonia local chapters this installation will hold a roadshow in different Estonian cities. The mission is to empower the growth of smarter and more caring communities, as we believe that the
                strong  COMMUNITY’s CARE
                |  and the
                strong  SIMPLICITY OF HELPING
                |  each other are the keys to enable people with special needs apply their skills, knowledge and powers to full potential and live their lives
                strong  WITHOUT BORDERS
                | .

            h2.col-xs-12 Organizers:
            p.col-xs-12.text-justify
                strong This installation is created in cooperation with Helpific MTÜ and JCI Estonia MTÜ.
            p.col-xs-12.text-justify Junior Chamber International Estonia belongs to a global network for volunteers Junior Chamber International, which connects up to 200 000 active young people from all over the world. In Estonia JCI is represented in Tallinn, Rapla, Rakvere, Tartu, Viljandi, Haapsalu, Paide and Pärnu, where it offers to young people a good environment to develop their leadership skills, social responsibility and increase entrepreneurial activity. In year 2015 JCI celebrate the 100th anniversary of the JCI movement. From the establishment of JCI network its members have globally contributed to various educational, environmental and social projects, also promoted equal opportunities within the community.
            p.col-xs-12.text-justify Helpific is a web-based platform that connects volunteers with people with special needs. Those who cannot volunteer can contribute with donations to ensure that the community members with special needs could live their lives with joy and enjoyment and reach to necessary services that enable them to engage in social life and do anything they desire. The mission of Helpific is to empower each and everyone to live a full life with dignity and to create stronger communities and smarter society. Volunteers have the opportunity to help people in their communities in a simple, fast and convenient way and experience that helping others can be really simple and fun, without taking any long-term obligations.

            h2.col-xs-12 Thank you all who contributed to this installation!
            p.col-xs-12.text-justify 6 heroes - Merlin, Maris, Jakob, Merilyn, Oliver and Katariina.
            p.col-xs-12.text-justify Marit Murd, Sille Sillaste, Eiko Roosimägi, Sven Tupits, Marta Paju, Egert Sarapuu, Rein Sarapuu, Keiu Roosimägi, Annika Amenberg, Kerttu Sarapuu, Kadri Armas, Kristi Valter, Jaan Naaber, Mihkel Kaljuveer
            p.col-xs-12.text-justify PromoStar OÜ, Kauplus Puuhall, SIA DAW Baltica Eesti filiaal, Scandikids OÜ, Neway AD

            .spacer.col-xs-12
            .col-xs-12
                hr
            .spacer.col-xs-12

            p.col-xs-12.text-justify
                em The heroes of this installation are six young persons with special needs - Merlin, Maris, Jakob, Merilyn, Oliver and Katariina. In their everyday dealings these heroes need some assistance. They are very positive individuals with different interests and knowledge regardless of their special needs. As a volunteer you can help them to live their lives more fully and without borders.
            .spacer.col-xs-12

            img.col-xs-3.col-sm-2(src='/images/bb/merlin.jpg', alt='Merlin')
            .col-xs-9.col-sm-10.text-justify
                p When
                    strong  MERLIN
                    |  lost her hearing due to ear infection at the age of 3, she didn’t feel any
                    strong  DIFFERENCE
                    |  at first. Her family members also use sign language.
                    strong  NOW
                    |  she uses a hearing aid to manage her everyday life and believes that thanks to her
                    strong  FAMILY
                    |’s support, She will always succeed. She is a board member of Estonian Deaf Organization for Youth and knows well that a person with
                    strong  HEARING LOSS
                    |  needs a different support. Merlin also likes
                    strong  ORGANIZING EVENTS
                    |  and learning foreign
                    strong  LANGUAGES
                    |.
                p As a
                    strong  VOLUNTEER
                    |  you can help Merlin to make important
                    strong  PHONE CALLS
                    |  and assist at
                    strong  PUBLIC SPEAKING
                    |  events in order to answer people’s questions.
                p
                    em
                        strong Fact:
                        |  Hearing loss appears approximately in 20% of people. Between 1-2 out of one thousand kids are being born deaf. Mostly hearing difficulties appear during the lifetime.
            .spacer.col-xs-12

            .col-xs-9.col-sm-10.text-justify
                p For
                    strong  MANY
                    |  years,
                    strong  MARIS
                    |  has carefully covered her body to avoid too stressful and unpleasant attention. A genetic disorder called
                    strong  NEUROFIBROMATOSIS
                    |  causes tumors that grow all over her body and a deformed physique. Thanks to her supportive
                    strong  FRIEND
                    |, She realized that this
                    strong  PECULIARITY
                    |  does not stop Her to do what she
                    strong  LOVES
                    |  the most – attend heavy metal music events, write poems, read, watch films, draw, ride a bicycle, cook and travel.  
                p As a
                    strong  VOLUNTEER
                    |  you can give Maris
                    strong  STYLE ADVICE
                    |  and offer help in
                    strong  PICKING
                    |  the right
                    strong  CLOTHES
                    |  by considering her individualities so that Maris could feel herself beautiful and free and enjoy life at its full.
                p
                    em
                        strong Fact:
                        |  Neurofibromatosis is an inherited disease, which appears approx. in 1 person out of 3000.
            img.col-xs-3.col-sm-2(src='/images/bb/maris.jpg', alt='Maris')
            .spacer.col-xs-12

            img.col-xs-3.col-sm-2(src='/images/bb/jakob.jpg', alt='Jakob')
            .col-xs-9.col-sm-10.text-justify
                p
                    strong  JAKOB
                    |  has always loved reading books and writing, yet He was born with a severe
                    strong  VISUAL IMPAIRMENT
                    |  and as of today has lost his eyesight
                    strong  COMPLETELY
                    | . Despite of other people's
                    strong  SCEPTICISM
                    |  he is acquiring a degree in journalism and apart from studies, he likes to engage with media, sound engineering, technology and translation work. Besides having a helpful smartphone that gives info on getting around the streets, taxi arrivals and abstruse findings from the fridge, he considers his supportive
                    strong  FAMILY
                    |  and good
                    strong  FRIENDS
                    |  priceless.
                p As a
                    strong  VOLUNTEER
                    |  you can help Jakob to orientate in
                    strong  NEW
                    |  and
                    strong  UNFAMILIAR
                    |  environment, clean home and shop together. Sometimes only one
                    strong  SUPPORTIVE
                    |  word or kick helps.
                p
                    em
                        strong  Fact:
                        |  The person receives up to 90% of information through visual perception.
            .spacer.col-xs-12

            .col-xs-9.col-sm-10.text-justify
                p
                    strong  MERILYN
                    |  has always believed that special need is not a disease, but a
                    strong  CONDITION
                    |. Due to
                    strong  MOVEMENT DISORDER
                    |  caused by
                    strong  CEREBRAL PALSY
                    |  She uses a wheelchair and needs assistance in everyday dealings. Yet, it has not stopped her to engage with various hobbies such as politics,
                    strong  IT
                    | , Internet, programming, reading, writing and music. Thanks to the support of her
                    strong  CLOSED ONES
                    |  She managed to study desired software and database management and acquire a
                    strong  YOUTH SPECIALIST
                    |  diploma of
                    strong  IT SYSTEMS
                    | .
                p As a
                    strong  VOLUNTEER
                    |  you can support Merilyn in her
                    strong  EVERYDAY DEALINGS
                    | , assist in
                    strong  ATTENDING
                    |  various
                    strong  EVENTS
                    |  and be a good friend.
                p
                    em
                        strong  Fact:
                        |  Cerebral palsy is a permanent group of movement disorders that appear in early childhood and cause the backwardness of physical and sometimes mental development.
            img.col-xs-3.col-sm-2(src='/images/bb/merilyn.jpg', alt='Merilyn')
            .spacer.col-xs-12

            img.col-xs-3.col-sm-2(src='/images/bb/oliver.jpg', alt='Oliver')
            .col-xs-9.col-sm-10.text-justify
                p When
                    strong  OLIVER
                    |  was diagnosed with
                    strong  SCHIZOPHRENIA
                    | , it seemed to him that his life is over. He had to give up university studies, though he was a successful young chemist. Now, Oliver is dealing daily with
                    strong  EXPERIENCE COUNSELING
                    | , as he is heartfelt in helping the compeers. Besides chemistry, he likes phytotherapy, popular science, photography, filming, montage, file editing, computers and bioenergetics. The most important to Oliver are supportive mother, colleagues and friends.
                p As a
                    strong  VOLUNTEER
                    |  you can
                    strong  TEACH
                    |  and
                    strong  SHARE
                    |  with Oliver something interesting about your
                    strong  SPECIALITY
                    | ,
                    strong  COOPERATE
                    |  and spend time together.
                p
                    em
                        strong  Fact:
                        |  Schizophrenia is a mental disorder that appears in 1% of the population.
            .spacer.col-xs-12

            .col-xs-9.col-sm-10.text-justify
                p
                    strong  KATARIINA
                    |  is an
                    strong  AUTIST
                    | , whose world is mainly comprised of her
                    strong  INTERESTS
                    | . Currently Katariina’s main interests are
                    strong  SAVING GIANT PANDAS
                    |  in Central China Mountains and
                    strong  STAGING PLAYS
                    | . Katariina doesn’t read or write, but She knows how to find information from computer and communicate messages on paper, sometimes even in
                    strong  ENGLISH
                    |  or
                    strong  PORTUGUESE
                    | . Now,
                    strong  MORE AND MORE
                    |  components related to the
                    strong  REALITY
                    |  appear in Katariina’s world.
                p As a
                    strong  VOLUNTEER
                    |  you can help Katariina to discover more the practical world and by so doing elevate her
                    strong  LIFE QUALITY
                    |  and affect her development towards more
                    strong  INDEPENDENT
                    |  life.
                p
                    em
                        strong Fact:
                        |  Based on epidemiological researches the autism spectrum disorder is diagnosed about one in 150 kids.
            img.col-xs-3.col-sm-2(src='/images/bb/katariina.jpg', alt='Katariina')
            .spacer.col-xs-12
