extends layout

block vars
    - title = 'Installation LIFE WITHOUT BORDERS'

block content
    #tos.container
        .row
            p.col-xs-12.text-justify This installation aims with positive stories to encourage all community members to ACKNOWLEDGE people with special needs as INDIVIDUALS, who are no different from people of same age – they go out for dating, clubbing, do sports, have hobbies and work in different jobs. SIX amazing stories invite you to break down the prejudice and public attitudes towards people with special needs and raise the AWARENESS of potential volunteers who would be willing to help them. In cooperation with JCI Estonia local chapters this installation will hold a roadshow in different Estonian cities. The mission is to empower the growth of smarter and more caring communities, as we believe that the COMMUNITY’s CARE and the SIMPLICITY OF HELPING each other are the keys to enable people with special needs apply their skills, knowledge and powers to full potential and live their lives WITHOUT BORDERS.

            h2.col-xs-12 Organizers:
            p.col-xs-12.text-justify
                strong This installation is created in cooperation with Helpific MTÜ and JCI Estonia MTÜ.
            p.col-xs-12.text-justify Junior Chamber International Estonia belongs to a global network for volunteers Junior Chamber International, which connects up to 200 000 active young people from all over the world. In Estonia JCI is represented in Tallinn, Rapla, Rakvere, Tartu, Viljandi, Haapsalu, Paide and Pärnu, where it offers to young people a good environment to develop their leadership skills, social responsibility and increase entrepreneurial activity. In year 2015 JCI celebrate the 100th anniversary of the JCI movement. From the establishment of JCI network its members have globally contributed to various educational, environmental and social projects, also promoted equal opportunities within the community.
            p.col-xs-12.text-justify Helpific is a web-based platform that connects volunteers with people with special needs. Those who cannot volunteer can contribute with donations to ensure that the community members with special needs could live their lives with joy and enjoyment and reach to necessary services that enable them to engage in social life and do anything they desire. The mission of Helpific is to empower each and everyone to live a full life with dignity and to create stronger communities and smarter society. Volunteers have the opportunity to help people in their communities in a simple, fast and convenient way and experience that helping others can be really simple and fun, without taking any long-term obligations.

            h2.col-xs-12 Thank you all who contributed to this installation!
            p.col-xs-12.text-justify 6 heroes - Merlin, Maris, Jakob, Merilyn, Oliver and Katariina.
            p.col-xs-12.text-justify Marit Murd, Sille Sillaste, Eiko Roosimägi, Sven Tupits, Marta Paju, Egert Sarapuu, Rein Sarapuu, Keiu Roosimägi, Annika Amenberg, Kerttu Sarapuu, Kadri Armas, Kristi Valter, Jaan Naaber, Mihkel Kaljuveer
            p.col-xs-12.text-justify PromoStar OÜ, Kauplus Puuhall, SIA DAW Baltica Eesti filiaal, Scandikids OÜ, Neway AD

            .spacer.col-xs-12

            p.col-xs-12.text-justify The heroes of this installation are six young persons with special needs - Merlin, Maris, Jakob, Merilyn, Oliver and Katariina. In their everyday dealings these heroes need some assistance. They are very positive individuals with different interests and knowledge regardless of their special needs. As a volunteer you can help them to live their lives more fully and without borders.

            .spacer.col-xs-12

            p.col-xs-12.text-justify Best Regards,
                br
                | Annika Amenberg
                br
                em Founder / PR / Marketing

            .spacer.col-xs-12
