extends layout

block vars
    - title = 'Installatsioon PIIRIDETA ELU'

block content
    .container
        .row
            p.col-xs-12.text-justify Installatsiooni eesmärk on positiivsete näidete läbi julgustada kõiki kogukonna liikmeid
                strong  TUNNUSTAMA
                |  erivajadustega inimesi kui
                strong  INDIVIIDE
                | , kes ei erine teistest omaealistest mitte millegi erilise poolest – nad käivad kohtingutel, ööklubides, teevad sporti, tegelevad hobidega, töötavad.
                strong  KUUS
                |  imelist lugu kutsuvad meid üles murdma ühiskonnas valitsevaid eelarvamusi ja hoiakuid erivajadustesse ning avardama nende
                strong  TEADLIKKUST
                | , kes täna veel vabatahtlikena ei tegutse. Koostöös Eesti Ettevõtlike Noorte Koja piirkondlike ühendustega rändab installatsioon läbi erinevate Maarjamaa linnade. Seeläbi soovitakse panustada targemate ja hoolivamate kogukondade tekkesse - uskudes, et
                strong  KOGUKONDADE HOOLIVUS
                |  ja üksteise
                strong  ABISTAMISE LIHTSUS
                |  on need võtmesõnad, mis võimaldavad erivajadustega inimestel aidata rakendada oma oskusi, teadmisi ja võimeid täies ulatuses ning elada oma elu
                strong  PIIRIDETA
                | .

            h2.col-xs-12 Korraldajad:
            p.col-xs-12.text-justify
                strong Installatsioon on loodud Helpific MTÜ ja JCI Estonia MTÜ koostöös.
            p.col-xs-12.text-justify Eesti Ettevõtlike Noorte Koda ehk JCI Estonia kuulub rahvusvahelisse vabatahtlike võrgustikku Junior Chamber International, mis koondab ülemaailmselt ligi 200 000 ettevõtlikku noort. Eestis on JCI esindatud Tallinnas, Raplas, Rakveres, Tartus, Viljandis, Haapsalus, Paides ja Pärnus, pakkudes noortele soodsat keskkonda juhtimisoskuste, sotsiaalse vastutustunde ja ettevõtlikkuse suurendamiseks. Käesoleval aastal tähistab JCI liikumine oma 100. aastapäeva. Alates võrgustiku sünnist on selle liikmed üle maailma panustanud projektidesse nii hariduse, keskkonna kui sotsiaalia vallas, edendades muuhulgas võrdsete võimaluste loomist kogukonnas.
            p.col-xs-12.text-justify Helpific on veebiplatvorm, mis ühendab vabatahtlikud abistajad erivajadustega abivajajatega. Need, kes mingil põhjusel ei saa vabatahtlikku abi pakkuda, saavad panustada annetustega, et erivajadustega kogukonna liikmed saaksid elada oma elu rõõmu ja naudinguga, sh jõuda valutult vajalike teenusteni ühiskonnaelus paremaks osalemiseks ning teha kõike seda, mida hing ihkab. Helpificu missiooniks on tagada ja hoida iga inimese eneseväärikust, et elus ei jääks midagi puude tõttu tegemata ning anda vabatahtlike kaasamisega panus tugevamate kogukondade ja targema ühiskonna kujunemisse. Vabatahtlikel on võimalus abistada inimesi oma kogukonnas lihtsalt, kiirelt ning mugavalt ja kogeda, et abistamine on imelihtne ja lõbus ega too kaasa pikaajalisi kohustusi.

            .spacer.col-xs-12
            img.col-xs-4.col-sm-3.col-xs-offset-2.col-sm-offset-2(src='/images/helpific-logo-text-hr.png', alt='Helpific logo')
            img.col-xs-4.col-sm-3.col-sm-offset-2(src='/images/bb/jci-estonia-logo.jpg', alt='JCI Estonia logo')
            .spacer.col-xs-12

            h2.col-xs-12 Täname kõiki, kes aitasid installatsiooni sünnile kaasa!
            p.col-xs-12.text-justify 6 kangelast - Merlin, Maris, Jakob, Merilyn, Oliver ja Katariina.
            p.col-xs-12.text-justify Marit Murd, Sille Sillaste, Eiko Roosimägi, Sven Tupits, Marta Paju, Egert Sarapuu, Rein Sarapuu, Keiu Roosimägi, Annika Amenberg, Kerttu Sarapuu, Kadri Armas, Kristi Valter, Jaan Naaber, Mihkel Kaljuveer, Jelena Pipper, Avo Falkenberg
            p.col-xs-12.text-justify PromoStar OÜ, Kauplus Puuhall, SIA DAW Baltica Eesti filiaal, Scandikids OÜ, Neway AD, Eesti Pimedate Raamatukogu

            .spacer.col-xs-12
            img.col-xs-4.col-sm-2.col-sm-offset-1(src='/images/bb/promostar-logo.jpg', alt='Promostar logo')
            .col-xs-4.col-sm-2
                img.col-xs-12(src='/images/bb/alp-logo.jpg', alt='Alpina Estonia logo')
                small.col-xs-12.text-center(style='margin-top:5px;font-size:11px') Alpina toob kodu majja
            img.col-xs-4.col-sm-2(src='/images/bb/plaaner-logo.jpg', alt='Plaaner logo')
            .spacer.visible-xs.col-xs-12
            img.col-xs-4.col-sm-2.col-xs-offset-2.col-sm-offset-0(src='/images/bb/caparol-logo.jpg', alt='Caparol logo')
            img.col-xs-4.col-sm-2(src='/images/bb/neway-logo.jpg', alt='Caparol logo')
            .spacer.col-sm-12

            .col-xs-12.text-justify
                p Helpific on veebiplatvorm, mis ühendab vabatahtlikud abistajad erivajadustega abivajajatega. Kõik saavad ka ise teha oma panuse, et aidata kaasa Helpific veebiplatvormi sõnumi vahetamise mehhanismi arendamisse, mis läheb maksma hinnanguliselt 5 000 eurot.
                p
                    strong HELPIFIC MTÜ
                    br
                    | Reg nr: 80380146
                    br
                    | Konto: EE102200221061303677
                    br
                    | SWIFT kood/BIC: HABAEE2X
                    br
                    | SWEDBANK
                    br
                    | Selgitus: annetus
            .spacer.col-xs-12

            p.col-xs-12.text-justify
                em Installatsiooni kangelasteks on kuus erivajadusega noort - Merlin, Maris, Jakob, Merilyn, Oliver ja Katariina. Igapäeva tegevustes vajavad need kangelased kõrvalist abi. Erivajadustest hoolimata on nad kõik väga positiivse ellusuhtumise ning erinevate huvide ja teadmistega indiviidid. Vabatahtlikuna saad sa aidata neil elada täisväärtuslikumat, piirideta elu.
            .spacer.col-xs-12

            img.col-xs-3.col-sm-2(src='/images/bb/merlin.jpg', alt='Merlin')
            .col-xs-9.col-sm-10.text-justify
                p Kui
                    strong  MERLIN
                    |  kaotas 3-aastaselt kõrvapõletiku tagajärjel kuulmise, ei tundnud ta esmalt, et midagi on justkui
                    strong  TEISITI
                    | . Ka tema peres on viipekeelseid inimesi.
                    strong  NÜÜD
                    |  kasutab ta igapäevaelus toimetulekuks abivahendina kuuldeaparaati ja usub, et tänu oma toetavale
                    strong  PEREKONNALE
                    |  saab ta alati hakkama. Ta on Eesti Kurtide Noorte Organisatsiooni juhatuses ja teab hästi, et
                    strong  KUULMISLANGUSEGA
                    |  inimene võib vajada erinevat tuge. Merlinile meeldib
                    strong  ÜRITUSTE KORRALDAMINE
                    |  ja erinevate
                    strong  KEELTE ÕPPIMINE
                    | .
                p
                    strong  VABATAHTLIKUNA
                    |  saad sa aidata Merlinit oluliste
                    strong  TELEFONIKÕNEDE TEGEMISEL
                    |  ja ritustel
                    strong  PUBLIKU EES KÕNELEMISEL
                    | , et vastata inimeste küsimustele.
                p
                    em
                        strong  Fakt:
                        |  Kuulmislangus esineb umbes 20%’l inimestel. Tuhandest lapsest sünnib keskmiselt üks kuni kaks kurdina. Enamasti tekivad kuulmisraskused elu jooksul.
            .spacer.col-xs-12

            .col-xs-9.col-sm-10.text-justify
                p
                    strong  MARIS
                    |  on PALJU AASTAID pidanud hoolega varjama oma keha, et mitte tõmmata endale liigselt ebameeldivust ja ärevust tekitavat tähelepanu. Geneetiline haigus nimega
                    strong  NEUROFIBROMATOOS
                    |  põhjustab kasvajaid kogu tema kehal ja moonutab kehakuju. Tänu toetavale
                    strong  SÕBRANNALE
                    |  mõistis ta, et
                    strong  ERIPÄRA
                    |  ei takista tal teha seda, mida
                    strong  ARMASTAB
                    |  – käia raskemuusika üritustel, kirjutada luulet, lugeda, vaadata filme, joonistada, sõita jalgrattaga, kokata ja reisida.
                p
                    strong  VABATAHTLIKUNA
                    |  saad sa anda Marisele
                    strong  STIILINÕU
                    |  ja pakkuda abikätt just talle sobivate ning tema individuaalsust arvestavate
                    strong  RIIETE VALIMISEL
                    | , et Maris saaks tunda end ilusa ja vaba naisena ning nautida elu täiel rinnal.
                p
                    em
                        strong  Fakt:
                        |  Neurofibromatoos on pärilik haigus, mis esineb umbes ühel inimesel 3000’st.
            img.col-xs-3.col-sm-2(src='/images/bb/maris.jpg', alt='Maris')
            .spacer.col-xs-12

            img.col-xs-3.col-sm-2(src='/images/bb/jakob.jpg', alt='Jakob')
            .col-xs-9.col-sm-10.text-justify
                p
                    strong  JAKOB
                    |  on alati armastanud lugeda ja kirjutada, ometi on ta sünnist saati olnud sügava
                    strong  NÄGEMISPUUDEGA
                    |  ja tänaseks kaotanud nägemise
                    strong  TÄIELIKULT
                    | . Teiste inimeste
                    strong  SKEPTILISUSEST
                    |  hoolimata on ta omandamas ajakirjanduse erialal kõrgharidust ja tegeleb õpingute kõrvalt meelsasti ka meedia, helirežii, tehnoloogia ja tõlketööga. Lisaks nutitelefonist abimehele, mis annab infot nii tänaval liikumise, saabuva takso kui külmkapist leitud arusaamatu purgi kohta, on talle hindamatud toetav
                    strong  PEREKOND
                    |  ja head
                    strong  SÕBRAD
                    | .
                p
                    strong  VABATAHTLIKUNA
                    |  saad sa aidata Jakobil liikuda talle
                    strong  UUES
                    |  ja
                    strong  TUNDMATUS ÜMBRUSES
                    | , kodu korrastada ja käia koos poes. Teinekord aitab vaid ühest lausest või
                    strong  TOETAVAST
                    |  küünarnukist.
                p
                    em
                        strong  Fakt:
                        |  Inimene saab umbes 90% informatsioonist nägemise kaudu.
            .spacer.col-xs-12

            .col-xs-9.col-sm-10.text-justify
                p
                    strong  MERILYN
                    |  on alati uskunud, et erivajadus ei ole haigus, vaid
                    strong  SEISUND
                    | . Ta kasutab
                    strong  TSEREBRAALPARALÜÜSIST
                    |  tingitud
                    strong  LIIKUMISPUUDE
                    |  tõttu ratastooli ja vajab igapäeva toimingutes kõrvalabi. See ei ole takistanud tal tegeleda erinevate hobidega nagu poliitika,
                    strong  IT
                    | , internet, programmeerimine, lugemine, kirjutamine ja muusika. Tänu
                    strong  LÄHEDASTE TOELE
                    |  on ta saanud õppida talle meelepärast tarkvara- ja andmebaaside haldust ning omandanud
                    strong  IT-SÜSTEEMIDE NOOREMSPETSIALISTI
                    |  kutsetunnistuse.
                p
                    strong  VABATAHTLIKUNA
                    |  saad sa toetada Merilyni tema
                    strong  IGAPÄEVATEGEVUSTE
                    |  juures ja erinevatest
                    strong  ÜRITUSTEST OSAVÕTMISEL
                    |  ning lihtsalt olla heaks sõbraks.
                p
                    em
                        strong  Fakt:
                        |  Tserebraalparalüüs on püsiv kesknärvisüsteemi kahjustus, mis ilmneb varases lapsepõlves ja mille tagajärjeks on füüsilise ja mõnikord ka vaimse arengu mahajäämus.
            img.col-xs-3.col-sm-2(src='/images/bb/merilyn.jpg', alt='Merilyn')
            .spacer.col-xs-12

            img.col-xs-3.col-sm-2(src='/images/bb/oliver.jpg', alt='Oliver')
            .col-xs-9.col-sm-10.text-justify
                p Kui
                    strong  OLIVERIL
                    |  diagnoositi
                    strong  SKISOFREENIA
                    | , tundus talle, et elu on lõppenud. Ta pidi loobuma ülikooli õpingutest, kuigi oli edukas noor keemik. Nüüd tegeleb Oliver igapäevaselt
                    strong  KOGEMUSNÕUSTAMISEGA
                    | , sest tema
                    strong  SÜDAMEASJAKS
                    |  on aidata saatusekaaslasi.  Lisaks keemiale, meeldib talle fütoteraapia, populaarteadus, fotograafia, filmimine, montaaž, failitöötlus, arvutid ja bioenergeetika. Kõige olulisemad on Oliveri jaoks toetav ema, töökaaslased ja sõbrad.
                p
                    strong  VABATAHTLIKUNA
                    |  saad sa Oliverile
                    strong  ÕPETADA
                    |  ja
                    strong  JAGADA
                    |  midagi huvitavat oma
                    strong  ERIALA
                    |  kohta, teha
                    strong  KOOSTÖÖD
                    |  ja veeta koos aega.
                p
                    em
                        strong  Fakt:
                        |  Skisofreenia on psüühikahäire, mille esinemissagedus on üks protsent rahvastikust.
            .spacer.col-xs-12

            .col-xs-9.col-sm-10.text-justify
                p
                    strong  KATARIINA
                    |  on
                    strong  AUTIST
                    | , kelle maailm on suuresti tema
                    strong  HUVIDE
                    |  põhjal kokku komponeeritud. Praegu on Katariina põhihuviks
                    strong  HIIDPANDADE PÄÄSTMINE
                    |  Kesk-Hiina mägedes ja
                    strong  TEATRIETENDUSTE LAVASTAMINE
                    | . Katariina ei loe ega kirjuta, kuid oskab arvutis otsida informatsiooni ja edastada teateid paberil, mõnikord isegi
                    strong  INGLISE
                    |  või
                    strong  PORTUGALI KEELES
                    | .
                    strong  JÄRJEST ROHKEM
                    |  tekib Katariina maailma
                    strong  TEGELIKKUSEGA
                    |  seotud komponente.
                p
                    strong  VABATAHTLIKUNA
                    |  saad sa aidata Katariinal rohkem praktilist maailma avastada, tõstes nii tema
                    strong  ELUKVALITEETI
                    |  ja mõjutades tema arenemist
                    strong  ISESEISVAMA
                    |  elu poole.
                p
                    em
                        strong  Fakt:
                        |  Epidemioloogiliste uurimuste kohaselt diagnoositakse autismispektri häire ühel lapsel 150’st.
            img.col-xs-3.col-sm-2(src='/images/bb/katariina.jpg', alt='Katariina')
            .spacer.col-xs-12