extends layout

block vars
    - title = 'Installatsioon PIIRIDETA ELU'

block content
    #tos.container
        .row
            p.col-xs-12.text-justify Installatsiooni eesmärk on positiivsete näidete läbi julgustada kõiki kogukonna liikmeid TUNNUSTAMA erivajadustega inimesi kui INDIVIIDE, kes ei erine teistest omaealistest mitte millegi erilise poolest – nad käivad kohtingutel, ööklubides, teevad sporti, tegelevad hobidega, töötavad. KUUS imelist lugu kutsuvad meid üles murdma ühiskonnas valitsevaid eelarvamusi ja hoiakuid erivajadustesse ning avardama nende TEADLIKKUST, kes täna veel vabatahtlikena ei tegutse. Koostöös Eesti Ettevõtlike Noorte Koja piirkondlike ühendustega rändab installatsioon läbi erinevate Maarjamaa linnade. Seeläbi soovitakse panustada targemate ja hoolivamate kogukondade tekkesse - uskudes, et KOGUKONDADE HOOLIVUS ja üksteise ABISTAMISE LIHTSUS on need võtmesõnad, mis võimaldavad erivajadustega inimestel aidata rakendada oma oskusi, teadmisi ja võimeid täies ulatuses ning elada oma elu PIIRIDETA.

            h2.col-xs-12 Korraldajad:
            p.col-xs-12.text-justify
                strong Installatsioon on loodud Helpific MTÜ ja JCI Estonia MTÜ koostöös.
            p.col-xs-12.text-justify Eesti Ettevõtlike Noorte Koda ehk JCI Estonia kuulub rahvusvahelisse vabatahtlike võrgustikku Junior Chamber International, mis koondab ülemaailmselt ligi 200 000 ettevõtlikku noort. Eestis on JCI esindatud Tallinnas, Raplas, Rakveres, Tartus, Viljandis, Haapsalus, Paides ja Pärnus, pakkudes noortele soodsat keskkonda juhtimisoskuste, sotsiaalse vastutustunde ja ettevõtlikkuse suurendamiseks. Käesoleval aastal tähistab JCI liikumine oma 100. aastapäeva. Alates võrgustiku sünnist on selle liikmed üle maailma panustanud projektidesse nii hariduse, keskkonna kui sotsiaalia vallas, edendades muuhulgas võrdsete võimaluste loomist kogukonnas.
            p.col-xs-12.text-justify Helpific on veebiplatvorm, mis ühendab vabatahtlikud abistajad erivajadustega abivajajatega. Need, kes mingil põhjusel ei saa vabatahtlikku abi pakkuda, saavad panustada annetustega, et erivajadustega kogukonna liikmed saaksid elada oma elu rõõmu ja naudinguga, sh jõuda valutult vajalike teenusteni ühiskonnaelus paremaks osalemiseks ning teha kõike seda, mida hing ihkab. Helpificu missiooniks on tagada ja hoida iga inimese eneseväärikust, et elus ei jääks midagi puude tõttu tegemata ning anda vabatahtlike kaasamisega panus tugevamate kogukondade ja targema ühiskonna kujunemisse. Vabatahtlikel on võimalus abistada inimesi oma kogukonnas lihtsalt, kiirelt ning mugavalt ja kogeda, et abistamine on imelihtne ja lõbus ega too kaasa pikaajalisi kohustusi.

            h2.col-xs-12 Täname kõiki, kes aitasid installatsiooni sünnile kaasa!
            p.col-xs-12.text-justify 6 kangelast - Merlin, Maris, Jakob, Merilyn, Oliver ja Katariina.
            p.col-xs-12.text-justify Marit Murd, Sille Sillaste, Eiko Roosimägi, Sven Tupits, Marta Paju, Egert Sarapuu, Rein Sarapuu, Keiu Roosimägi, Annika Amenberg, Kerttu Sarapuu, Kadri Armas, Kristi Valter, Jaan Naaber, Mihkel Kaljuveer
            p.col-xs-12.text-justify PromoStar OÜ, Kauplus Puuhall, SIA DAW Baltica Eesti filiaal, Scandikids OÜ, Neway AD

            .spacer.col-xs-12

            p.col-xs-12.text-justify Installatsiooni kangelasteks on kuus erivajadusega noort - Merlin, Maris, Jakob, Merilyn, Oliver ja Katariina. Igapäeva tegevustes vajavad need kangelased kõrvalist abi. Erivajadustest hoolimata on nad kõik väga positiivse ellusuhtumise ning erinevate huvide ja teadmistega indiviidid. Vabatahtlikuna saad sa aidata neil elada täisväärtuslikumat, piirideta elu.

            .spacer.col-xs-12

            p.col-xs-12.text-justify Lugupidamisega,
                br
                | Annika Amenberg
                br
                em Founder / PR / Marketing

            .spacer.col-xs-12
