extends layout

block vars
    - title = 'Инсталляция ЖИЗНЬ БЕЗ ГРАНИЦ'

block content
    #tos.container
        .row
            p.col-xs-12.text-justify Цель инсталляции с помощью позитивных примеров призвать общественность ПРИЗНАТЬ людей с ограниченными возможностями ИНДИВИДУУМАМИ, которые ничем особенным не отличаются от своих сверстников - они ходят на свидания, в ночные клубы, занимаются спортом и своими увлечениями, работают. ШЕСТЬ замечательных историй призывают нас, сломать предрассудки и отношение к людям с особыми потребностями, преобладающее в обществе, и расширить ОСВЕДОМЛЁННОСТЬ тех, кто ещё не действует в качестве волонтёра. В сотрудничестве с Эстонской Предприимчивой Молодежной палатой региональных объединений, установка будет путешествовать по разным городам Эстонии. Таким образом желают внести вклад в развитие заботливого и просвещённого общества - веря, что ОБЩЕСТВЕННАЯ ЗАБОТА и ПОМОЩЬ друг другу, это ключевые слова, которые позволяют помочь людям, с особыми потребностями, применять свои навыки, знания и способности в полной мере, и жить своей жизнью БЕЗ ГРАНИЦ.

            h2.col-xs-12 Организаторы:
            p.col-xs-12.text-justify
                strong Инсталляция создана в сотрудничестве Helpific НКО и JCI Estonia НКО.
            p.col-xs-12.text-justify Эстонская Инициативная Молодежная Палата JCI Estonia входит в состав Junior Chamber International, организация объединяет около 200 000 предприимчивых молодых людей по всему миру. В Эстонии JCI находится в городах Пярну, Пайде, Хаапсалу, Вильянди, Тарту, Раквере, Рапла и Таллинн предлагает молодым людям льготные условия для развития навыков управления, социальной ответственности и увеличения предпринимательства. В этом году JCI отмечает свое 100-летие. Со времени создания сети содружества JCI, члены организации по всему миру внесли свой вклад в проекты касающиеся образования, среды как социальной сферы содействовали развитию равных прав и равных возможностей в общине.
            p.col-xs-12.text-justify Helpific это веб платформа, которая соединяет и сближает добровольных помощников - волонтеров с людьми, имеющих особые потребности. Те люди, которые по какой-то причине не могут предложить свою добровольную помощь могут сделать пожертвование и внести свой вклад для того, чтобы община людей имеющих особые потребности смогла бы наслаждаться своей жизнью с радостью и принимать участие во всем, о чем только пожелает. Миссия Helpific это обеспечить и сохранять чувство собственного достоинства у каждого человека, чтобы в жизни ничего не было бы невыполнимо из-за особых потребностей человека и привлекая добровольцев сделать ценный вклад в развитие сильной общины и более благоразумного общества. У добровольцев есть возможность помочь людям своей общины просто, быстро и удобно - извлечь на собственном опыте, что помогать друг другу это очень просто и радостно и не влечёт за собой длительного обязательства.

            h2.col-xs-12 Спасибо всем, кто внес вклад в рождение инсталляции!
            p.col-xs-12.text-justify 6 героев - Merlin, Maris, Jakob, Merilyn, Oliver ja Katariina.
            p.col-xs-12.text-justify Marit Murd, Sille Sillaste, Eiko Roosimägi, Sven Tupits, Marta Paju, Egert Sarapuu, Rein Sarapuu, Keiu Roosimägi, Annika Amenberg, Kerttu Sarapuu, Kadri Armas, Kristi Valter, Jaan Naaber, Mihkel Kaljuveer
            p.col-xs-12.text-justify PromoStar OÜ, Kauplus Puuhall, SIA DAW Baltica Eesti filiaal, Scandikids OÜ, Neway AD

            .spacer.col-xs-12

            p.col-xs-12.text-justify Герои инсталляции это шесть молодых людей с ограниченными возможностями – Мерлин, Марис, Якоб, Мерилин, Оливер и Катарина. Каждый день, нуждаются эти герои, в повседневной посторонней помощи. Несмотря на ограниченные возможности у них всех очень позитивное отношение к жизни, они личности с различными увлечениями и знаниями. Вы можете добровольно помочь им жить более полноценной жизнью, без границ.

            .spacer.col-xs-12

            p.col-xs-12.text-justify С уважением,
                br
                | Annika Amenberg
                br
                em Founder / PR / Marketing

            .spacer.col-xs-12
