extends layout

block vars
    - title = 'Инсталляция ЖИЗНЬ БЕЗ ГРАНИЦ'

block content
    .container
        .row
            p.col-xs-12.text-justify Цель инсталляции с помощью позитивных примеров призвать общественность
                strong  ПРИЗНАТЬ
                |  людей с ограниченными возможностями
                strong  ИНДИВИДУУМАМИ
                | , которые ничем особенным не отличаются от своих сверстников - они ходят на свидания, в ночные клубы, занимаются спортом и своими увлечениями, работают.
                strong  ШЕСТЬ
                |  замечательных историй призывают нас, сломать предрассудки и отношение к людям с особыми потребностями, преобладающее в обществе, и расширить
                strong  ОСВЕДОМЛЁННОСТЬ
                |  тех, кто ещё не действует в качестве волонтёра. В сотрудничестве с Эстонской Предприимчивой Молодежной палатой региональных объединений, установка будет путешествовать по разным городам Эстонии. Таким образом желают внести вклад в развитие заботливого и просвещённого общества - веря, что
                strong  ОБЩЕСТВЕННАЯ ЗАБОТА
                |  и
                strong  ПОМОЩЬ
                |  друг другу, это ключевые слова, которые позволяют помочь людям, с особыми потребностями, применять свои навыки, знания и способности в полной мере, и жить своей жизнью
                strong  БЕЗ ГРАНИЦ
                | .

            h2.col-xs-12 Организаторы:
            p.col-xs-12.text-justify
                strong Инсталляция создана в сотрудничестве Helpific НКО и JCI Estonia НКО.
            p.col-xs-12.text-justify Эстонская Инициативная Молодежная Палата JCI Estonia входит в состав Junior Chamber International, организация объединяет около 200 000 предприимчивых молодых людей по всему миру. В Эстонии JCI находится в городах Пярну, Пайде, Хаапсалу, Вильянди, Тарту, Раквере, Рапла и Таллинн предлагает молодым людям льготные условия для развития навыков управления, социальной ответственности и увеличения предпринимательства. В этом году JCI отмечает свое 100-летие. Со времени создания сети содружества JCI, члены организации по всему миру внесли свой вклад в проекты касающиеся образования, среды как социальной сферы содействовали развитию равных прав и равных возможностей в общине.
            p.col-xs-12.text-justify Helpific это веб платформа, которая соединяет и сближает добровольных помощников - волонтеров с людьми, имеющих особые потребности. Те люди, которые по какой-то причине не могут предложить свою добровольную помощь могут сделать пожертвование и внести свой вклад для того, чтобы община людей имеющих особые потребности смогла бы наслаждаться своей жизнью с радостью и принимать участие во всем, о чем только пожелает. Миссия Helpific это обеспечить и сохранять чувство собственного достоинства у каждого человека, чтобы в жизни ничего не было бы невыполнимо из-за особых потребностей человека и привлекая добровольцев сделать ценный вклад в развитие сильной общины и более благоразумного общества. У добровольцев есть возможность помочь людям своей общины просто, быстро и удобно - извлечь на собственном опыте, что помогать друг другу это очень просто и радостно и не влечёт за собой длительного обязательства.

            .spacer.col-xs-12
            img.col-xs-4.col-sm-3.col-xs-offset-2.col-sm-offset-2(src='/images/helpific-logo-text-hr.png', alt='Helpific logo')
            img.col-xs-4.col-sm-3.col-sm-offset-2(src='/images/bb/jci-estonia-logo.jpg', alt='JCI Estonia logo')
            .spacer.col-xs-12

            h2.col-xs-12 Спасибо всем, кто внес вклад в рождение инсталляции!
            p.col-xs-12.text-justify 6 героев - Merlin, Maris, Jakob, Merilyn, Oliver ja Katariina.
            p.col-xs-12.text-justify Marit Murd, Sille Sillaste, Eiko Roosimägi, Sven Tupits, Marta Paju, Egert Sarapuu, Rein Sarapuu, Keiu Roosimägi, Annika Amenberg, Kerttu Sarapuu, Kadri Armas, Kristi Valter, Jaan Naaber, Mihkel Kaljuveer, Jelena Pipper, Avo Falkenberg
            p.col-xs-12.text-justify PromoStar OÜ, Kauplus Puuhall, SIA DAW Baltica Eesti filiaal, Scandikids OÜ, Neway AD, Eesti Pimedate Raamatukogu

            .spacer.col-xs-12
            img.col-xs-4.col-sm-2.col-sm-offset-1(src='/images/bb/promostar-logo.jpg', alt='Promostar logo')
            .col-xs-4.col-sm-2
                img.col-xs-12(src='/images/bb/alp-logo.jpg', alt='Alpina Estonia logo')
                small.col-xs-12.text-center(style='margin-top:5px;font-size:11px') Alpina toob kodu majja
            img.col-xs-4.col-sm-2(src='/images/bb/plaaner-logo.jpg', alt='Plaaner logo')
            .spacer.visible-xs.col-xs-12
            img.col-xs-4.col-sm-2.col-xs-offset-2.col-sm-offset-0(src='/images/bb/caparol-logo.jpg', alt='Caparol logo')
            img.col-xs-4.col-sm-2(src='/images/bb/neway-logo.jpg', alt='Caparol logo')
            .spacer.col-sm-12

            .col-xs-9.col-sm-10.text-justify
                p Helpific, это вэб-платформа объединяющая волонтёров с людьми с ограниченными возможностями, которые нуждаются в помощи. Круг посетителей и заинтересованные в вэб-платформе Helpific, могут так же внести свой вклад, чтобы сообща помочь развитию механизма обмена сообщениями вэб-платформы Helpific, по оценке необходимо 5000 евро.
                p
                    strong HELPIFIC MTÜ
                    br
                    | Reg nr: 80380146
                    br
                    | Konto: EE102200221061303677
                    br
                    | SWIFT kood/BIC: HABAEE2X
                    br
                    | SWEDBANK
                    br
                    | Selgitus: annetus
            .spacer.col-xs-12

            p.col-xs-12.text-justify
                em Герои инсталляции это шесть молодых людей с ограниченными возможностями – Мерлин, Марис, Якоб, Мерилин, Оливер и Катарина. Каждый день, нуждаются эти герои, в повседневной посторонней помощи. Несмотря на ограниченные возможности у них всех очень позитивное отношение к жизни, они личности с различными увлечениями и знаниями. Вы можете добровольно помочь им жить более полноценной жизнью, без границ.
            .spacer.col-xs-12

            img.col-xs-3.col-sm-2(src='/images/bb/merlin.jpg', alt='Merlin')
            .col-xs-9.col-sm-10.text-justify
                p Когда
                    strong  МЕРЛИН
                    | , в возрасте трёх лет, потеряла слух вследствие ушной инфекции, она изначально не чувствовала, что чем-то отличается от
                    strong  ДРУГИХ
                    | . Её семья, так же знает язык жестов.
                    strong  ТЕПЕРЬ
                    |  она использует слуховой аппарат, чтобы справляться с повседневной жизнью, и считает что  благодаря поддержке своей
                    strong  СЕМЬИ
                    |  она всё сможет преодолеть. Она руководитель Эстонского Объединения Слабослышащей Молодёжи и хорошо знает, что люди с
                    strong  НАРУШЕНИЯМИ СЛУХА
                    |  нуждаются в поддержке. Мерлин нравится
                    strong  ОРГАНИЗАЦИЯ МЕРОПРИЯТИЙ
                    |  и изучение различных
                    strong  ЯЗЫКОВ
                    | .

                p СТАВ ВОЛОНТЁРОМ, ты можешь помочь Мерлин с важными
                    strong  ТЕЛЕФОННЫМИ ЗВОНКАМИ
                    | , а так же на мероприятиях, во время
                    strong  ВЫСТУПЛЕНИЯ ПЕРЕД ПУБЛИКОЙ
                    | , с ответами на вопросы слушателей.

                p
                    em
                        strong  Факт:
                        |  Потеря слуха встречается у 20% людей. В среднем, из тысячи детей один - два младенца рождаются глухими. Большинство теряют слух в течение жизни.
            .spacer.col-xs-12

            .col-xs-9.col-sm-10.text-justify
                p
                    strong  МАРИС НА ПРОТЯЖЕНИИ МНОГИХ ЛЕТ
                    |  скрывала своё тело, чтобы не притягивать к себе внимание, вызывющее дискомфорт и беспокойство. У Марис генетическое заболевание
                    strong  НЕЙРОФИБРОМАТОЗ
                    | , что приводит к образованию опухолей и искривлению формы тела. Благодаря поддержке своей
                    strong  ПОДРУГИ
                    | , она поняла, что
                    strong  СПЕЦИФИЧНОСТЬ
                    |  - не препятствие для того, чтобы делать то что
                    strong  ЛЮБИШЬ
                    |  – ходить на музыкальные мероприятия, писать стихи, читать, смотреть фильмы, рисовать, кататься на велосипеде, готовить и путешествовать.

                p
                    strong  СТАВ ВОЛОНТЁРОМ
                    | , ты можешь помочь Марис с
                    strong  СОВЕТОМ ПО СТИЛЮ
                    |  в
                    strong  ВЫБОРЕ ОДЕЖДЫ
                    | , учитывая её индивидуальные особенности, чтобы Марис чувствовала себя красивой и свободной женщиной, и могла наслаждаться жизнью в полной мере.

                p
                    em
                        strong  Факт:
                        |  Нейрофиброматоз, это наследственное заболевание, встречающееся, примерно у одного человека из трёх тысяч.
            img.col-xs-3.col-sm-2(src='/images/bb/maris.jpg', alt='Maris')
            .spacer.col-xs-12

            img.col-xs-3.col-sm-2(src='/images/bb/jakob.jpg', alt='Jakob')
            .col-xs-9.col-sm-10.text-justify
                p
                    strong  ЯКОБ
                    |  всегда любил читать и писать, но он с рождения имел серьёзные нарушения зрения, и впоследствии
                    strong  ПОЛНОСТЬЮ ПОТЕРЯЛ ЗРЕНИЕ
                    | . Невзирая на
                    strong  СКЕПТИЦИЗМ
                    |  других людей, он получает высшее образование на факультете журналистики и с удовольствием занимается
                    strong  СМИ
                    | , звукорежиссурой, инфотехнологиями и переводческой работой. Кроме смартфона, помогающего передвигаться по улицам, информирующего о прибытии такси и о неизвестной  банке из холодильника,с чем имеет дело, у Якоба есть бесценная поддержка его
                    strong  СЕМЬИ
                    |  и
                    strong  ХОРОШИХ ДРУЗЕЙ
                    | .

                p
                    strong  СТАВ ВОЛОНТЁРОМ
                    | , ты можешь помочь Якобу в передвижении по НОВОЙ и
                    strong  НЕИЗВЕСТНОЙ МЕСТНОСТИ
                    | , в уборке квартиры и сопровождая его, в походе по магазинам. Иногда помощь - это всего лишь одна фраза, или
                    strong  ПОДДЕРЖКА
                    |  за локоть.

                p
                    em
                        strong  Факт:
                        |  До 90% - информации из внешнего мира, человек получает с помощью зрения!
            .spacer.col-xs-12

            .col-xs-9.col-sm-10.text-justify
                p
                    strong  МЕРИЛИН
                    |   всегда считала, что ограниченные возможности это не болезнь, а
                    strong  СОСТОЯНИЕ
                    | . Из-за
                    strong  ИНВАЛИДНОСТИ
                    | , вызванной
                    strong  ЦЕРЕБРАЛЬНЫМ ПАРАЛИЧОМ
                    |  она использует инвалидное кресло и ежедневно в повседневной деятельности нуждается в посторонней помощи. Это не помешало ей увлекаться разными хобби, такими как, политика,
                    strong  ИТ
                    | , интернет, программирование, чтение и музыка. Благодаря
                    strong  ПОДДЕРЖКЕ БЛИЗКИХ
                    | , она смогла освоить программное обеспечение, тем самым приобретя диплом
                    strong  ИТ-СИСТЕМ, МЛАДШИЙ СПЕЦИАЛИСТ
                    | .

                p
                    strong  СТАВ ВОЛОНТЁРОМ
                    | , ты можешь поддержать  Мерилин в её
                    strong  ПОВСЕДНЕВНОЙ ДЕЯТЕЛЬНОСТИ
                    |  и
                    strong  УЧАСТИИ В РАЗЛИЧНЫХ МЕРОПРИЯТИЯХ
                    | , и просто быть ей хорошим другом.

                p
                    em
                        strong  Факт:
                        |  Церебральный паралич это не прогрессирующее поражение центральной нервной системы, которое проявляется в раннем детстве отклонениями физического и интеллектуального развития.
            img.col-xs-3.col-sm-2(src='/images/bb/merilyn.jpg', alt='Merilyn')
            .spacer.col-xs-12

            img.col-xs-3.col-sm-2(src='/images/bb/oliver.jpg', alt='Oliver')
            .col-xs-9.col-sm-10.text-justify
                p Когда
                    strong  ОЛИВЕРУ
                    |  был поставлен диагноз
                    strong  ШИЗОФРЕНИЯ
                    | , ему казалось, что жизнь закончилась. Он должен был отказаться от учебы в университете, хотя он был успешный молодой химик. Сегодня Оливер
                    strong  КОУЧ КОНСУЛЬТАНТ
                    |  –
                    strong  ОТ ВСЕГО СЕРДЦА
                    |   он хочет помочь товарищам по несчастью. Самые значимые люди для Оливера мама, коллеги и друзья.

                p
                    strong  СТАВ ВОЛОНТЁРОМ
                    | , ты можешь
                    strong  НАУЧИТЬ
                    |  и
                    strong  ПОДЕЛИТЬСЯ
                    |  с Оливером чем-то интересным из своей специальности, для
                    strong  СОТРУДНИЧЕСТВА
                    |  и совместного времяпровождения.

                p
                    em
                        strong  Факт:
                        |  Шизофрения является психическим расстройством, частота заболеваемости, один процент населения.
            .spacer.col-xs-12
            .col-xs-9.col-sm-10.text-justify
                p
                    strong  КАТАРИИНА
                    |  страдает аутизмом, чей мир в большей степени основан на её
                    strong  УВЛЕЧЕНИЯХ
                    | . На данный момент у Катарины есть два основных увлечения –
                    strong  СПАСЕНИЕ ГИГАНТСКИХ ПАНД
                    |  в горах Центрального Китая и ТЕАТРАЛЬНЫЕ
                    strong  ПОСТАНОВКИ
                    | . Катарина не читает и не пишет, но умеет найти нужную информацию в интернете и передать сообщение на бумаге, иногда на
                    strong  АНГЛИЙСКОМ
                    |  или
                    strong  ПОРТУГАЛЬСКОМ ЯЗЫКАХ
                    | . Всё больше появляется у Катарины связь с
                    strong  РЕАЛЬНЫМ
                    |  миром.

                p
                    strong  СТАВ ВОЛОНТЁРОМ
                    | , ты можешь помочь Катарине открыть более практичную сторону мира, тем самым улучшив
                    strong  КАЧЕСТВО ЕЁ ЖИЗНИ
                    |  и повлиять на развитие пути к
                    strong  САМОСТОЯТЕЛЬНОСТИ
                    | .

                p
                    em
                        strong  Факт:
                        |  На основе эпидемиологических исследований расстройства аутистического спектра, диагностируют у одного ребенка из 150.
            img.col-xs-3.col-sm-2(src='/images/bb/katariina.jpg', alt='Katariina')
            .spacer.col-xs-12
