extends layout

block vars
    - title = title || t('pages.error.title')

block content
    .container
        .row
            h2.col-xs-12= message
            pre.col-xs-12 #{error.stack}
        .row.spacer
