extends layout

block header
    .row
        a(href='/')
            img.col-xs-4.col-sm-2.col-md-2.col-xs-offset-4.col-sm-offset-5(src='/images/helpific-logo-text.png', alt='Helpific logo')

block content
    .row.jumbotron
        p.col-xs-12.text-center Helpific connects volunteers to those who need help with everyday activities.
        p.col-xs-12.text-center It's never been easier to give and get help.
        p.col-xs-12.text-center At the moment we have 99 help requests fulfilled and 1044 active voluteers.

    .row.jumbotron
        p.col-xs-12.text-center
            a(href='/profiles') Become volunteer, help others
