extends layout
block vars
    - title = 'Helpificu arendustööd'
    - sub_title = 'Kasutaja kogemusel põhineva tugikeskkonna arendamine'
block content
    .container
        .row
            .col-xs-12
                h2 Tegeleme aktiivselt oma kodulehe muutmisega turvalisemaks, kasutajasõbralikumaks ning juurdepääsetavamaks kõigile soovijatele.
        .row
            .col-xs-8

                p  Projekti eesmärk on testida olemasolevat keskkonda ning uurida kui rahul on meie olemasolevad ning
                 | tulevased kasutajad teenusega. Töö tulemusena muudame oma keskkonda paremaks, mugavamaks ning
                 | turvalisemaks. Suurt tähelepanu pöörame ka sellele, et töö tulemusena  muutuv keskkond oleks juurdepääsetav kõigile.
                p Kui soovid anda tagasisidet meie teenuse või kodulehe kohta, siis kirjuta julgelt info@helpific.com
                p Projekti kestvus: 1.mai 2016 kuni 31.mai 2017.
            .col-xs-4
                img.img-responsive(src='/images/kysk/Kysk_logo.jpg')
                p Tööde teostamiseks taotlesime toetust Kodanikuühiskonna Sihtkapitalilt ning meie suureks rõõmuks õnnestus meil saada toetust summas 11 999,41 eurot.

        .row
            .col-xs-12
                h2 Projekti tegevused ja eesmärgid
                p Helpific on loodud põhjusel, et riigil ja kohalikel omavalitsustel puudub võimekus tagada puuetega inimestele nii nimetatud  “iseseisva elu” teenuseid (isiklik abistaja, transporditeenused) viimastele vajalikel tingimustel ning mahus - puuetega inimesed peavad lahenduse leidma kohaliku kogukonna abiga.
                p Helpific on esimene keskkond Eestis, mille kaudu erivajadustega inimestel on võimalik tellida ühekordseid teenuseid kiirelt ja mugavalt ning keskkond, kus vabatahtlikel on võimalus aidata kogukonnas abi vajavat inimest. Online-tugikeskkonnas mobiliseeritakse lähtudes jagamismajanduse kontseptsioonist kogukondlikke ressursse ning luuakse inimeselt-inimesele abistamise süsteem.
                h3 Projekti raames viiakse  läbi järgmised tegevused:
                p 1) Senine koduleht arendatakse  juurdepääsetavaks, turvaliseks ja võimekaks tugikeskkonnaks. See tähendab kokkuvõtvalt järgmist: kasutusmugavuse parendamine, WCAG 2.0 standardile viimine, turvalisuse ja usaldusväärsuse tõstmine. Projekti raames viiakse läbi kohtumised sihtgruppide ja ekspertidega, mille käigus kaardistatakse detailselt spetsiifilised vajadused ja võimalused ning koostatakse tööplaan. Tugikeskkond peab olema juurdepääsetav erinevate puudespetsiifikatega inimestele (sh pimedad, lihashaiged jne). Tugikeskkond peab projekti perioodi jooksul suutma saavutada ka oodatava turvalisuse taseme, et erivajadustega inimesed ei langeks võimaliku väärkohtlemise ohvriks. Samuti tuleb tegeleda uue harjumuse juurutamise ja usaldusväärsuse tõstmisega läbi positiivsete lugude meedias.
                p 2) Projekti raames mõõdetakse kasutusmugavuse, juurdepääsetavuse ja turvalisuse näitajate ning neile antavate hinnangute muutumist projekti perioodi jooksul. Selleks viiakse läbi küsitlused ning kohtumised valitud arvu sihtgruppide esindajatega projekti alguses ja lõpul.
                p 3) Projekti lõpuks on Helpific jõudnud uuele võimekuse tasemele - kasutajate arv kasvab, omavahel viiakse aasta-aastalt kokku aina enam vabatahtlikke abistajaid ja puudega inimesi. Helpific jätkab tugikeskkonna arendamist, vabatahtliku tegevuse populariseerimist ja erivajadustega inimeste võimekuse tõstmist.