doctype html
html
    head
        title= (title && title !== 'Helpific') ? title + ' - Helpific' : 'Helpific'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
