doctype html
html
    head
        title= (title && title !== 'Helpific') ? title + ' - Helpific' : 'Helpific'
        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
        link(rel='icon', type='image/png', href='/images/helpific-logo.png')
    body
        .container
            header.row
                a(href='/')
                    img.col-xs-4.col-sm-2.col-md-2.col-xs-offset-4.col-sm-offset-5.col-md-offset-0(src='/images/helpific-logo-text.png')
                h1.col-xs-12.col-md-8.text-center
                    block header
                        | #{title}
        .container
            block content
