extends layout

block vars
    - title = t('pages.messages.title')

block head
    script(src='/javascripts/angularjs/angular.min.js')
    script(src='/javascripts/angularjs/angular-route.min.js')
    script(src='/javascripts/helpific.js')

block content
    .container(ng-controller='messagesCtrl')
        .row
            .col-xs-2.col-md-4
                .row.conversation(ng-repeat='c in conversations | orderBy:["-message_id"]', ng-class='c.id === selected ? "bg-red" : ""', ng-click='openConversation(c.id)')
                    img.col-xs-11.col-md-3.img-circle(ng-src='{{ c.picture }}', alt='{{ c.name }}')
                    .hidden-xs.hidden-sm.col-xs-8.col-md-9 {{ c.name }}
                        br
                        small(ng-if='c.date') {{ c.date }}

            .col-xs-8.col-md-7.col-xs-offset-1
                .row(ng-repeat='m in messages | orderBy:["message_id"]')
                    .message.bg-green.pull-left(ng-if='m.to')
                        //- small {{ m.date }}
                        span {{ m.message }}
                    .message.bg-yellow.pull-right.text-right(ng-if='m.from')
                        //- small {{ m.date }}
                        span {{ m.message }}

                .row.spacer

                form#message-form(ng-show='selected')
                    .row
                        .form-group.col-xs-12
                            label.control-label(for='message')= t('pages.messages.new-message')
                            textarea#message.form-control(rows=5)
                        a#message-send.btn.btn-lg.bg-yellow.col-xs-8.col-md-6.col-xs-offset-2.col-md-offset-3.text-center(href='javascript:void(0)')= t('pages.messages.send')
                        .col-xs-12.text-center
                            i#message-spinner.hidden.fa.fa-cog.fa-spin.fa-2x

        .row.spacer

    script.
        $('textarea').focus(function() {
            $("label[for='" + this.id + "']").addClass('labelfocus')
        }).blur(function() {
            $('label').removeClass('labelfocus')
        })

        $('#message-send').click(function() {
            if($('#message').val()) {
                $('#message-send').addClass('hidden')
                $('#message-spinner').removeClass('hidden')
                var postdata = {
                    'message': $('#message').val()
                }
                $.post('', postdata, function(data) {
                    setTimeout(function() {
                        location.reload(true)
                    }, 1500)
                }).fail(
                    setTimeout(function() {
                        location.reload(true)
                    }, 1500)
                )
            } else {
                $('#message').focus()
            }
        })
