extends layout
block vars
    - title = 'Helpific MTÜ informatsioon'
block content
    .container
        .row
            h3 Tutvustus
            p Helpific MTÜ on asutatud 22. jaanuaril 2015. aastal.
            p Helpific MTÜ järgib oma tegevuses&nbsp;
                a(href='http://www.ngo.ee/eetikakoodeks', target='new') vabaühenduste tegevuse eetilisi põhimõtteid
        .spacer.col-sm-12
        .row
            h3 Juhatuse liikmete kontaktid:
            .col-lg-6
                div Keiu Roosimägi
                div e-mail: keiu.roosimagi@helpific.com
                div telefon: (+372) 5347 7636
            .col-lg-6
                div Annika Amenberg
                div e-mail: annika.amenberg@helpific.com
                div telefon: (+372) 503 4974
        .spacer.col-sm-12
        .row
            h3 Dokumendid
            ul
                li
                    a(href='/NGO/Helpific_MTU_majandusaasta_aruanne_2015.pdf', target='new') Majandusaasta 2015 aruanne
                li
                    a(href='/NGO/MITTETULUNDUSUHINGU_HELPIFIC_POHIKIRI.pdf', target='new') Helpific MTÜ põhikiri
        .spacer.col-sm-12