extends layout
block vars
    - title = 'Helpific stsenaariumi konkurss'
    - sub_title = '“Märka annet, mitte häiret”'
block content
    .container
        .row
            .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
                h3.text-left
                    em Konkursi tingimused
                p.text-left
                    | Konkursi korraldaja on Helpific MTÜ. Helpific on veebipõhine tugikeskkond, mille kaudu erivajadustega inimesed saavad tellida vabatahtlikke abistajaid või tasulisi teenuseid. Helpific on inimeselt inimesele lahendus, aidates luua tugevamaid kogukondi.
                p.text-left
                    | Konkurss viiakse läbi projekti “Positiivse suhtumise arendamine - edu vaimse tervise probleemidega noorte tööturule integreerumisel” raames (
                    em “Positive attitude development - access to labour market for young adults with mental health problems”
                    | ).
                p.text-left
                    strong Konkursi eesmärk&nbsp;
                    | on leida projekti stsenarist, kes kirjutab projekti perioodi (1.04.2016-30.04.2017) jooksul käsikirja kümnele (10) klipile kestusega kuni üks (1) minut ning koostöös meeskonnaga aitab aktiivselt kaasa klippide täielikule valmimisele. Klipid on osa meediakampaaniast, mille kaudu soovitakse muuta hoiakuid vaimse tervise probleemidega noorte suhtes ning edendada nende tööhõivet.
                p.text-left
                    strong Osavõtt:&nbsp;
                    | konkursil osaleja esitab: 1) esimese klipi kirjaliku stsenaariumi ning 2) visiooni stsenaariumi tulevikust, edaspidi nimetatud ühiselt kui&nbsp;
                    strong konkursi töö.&nbsp;
                    | Konkursi korraldaja juhib tähelepanu, et iga klipp võib olla eraldiseisev lugu, kuid kümme (10) klippi võivad moodustada ka ühe lugude sarja.
                p.text-left
                    | Konkursist osavõtuks vanuselisi jms piiranguid ei seata, kuid konkursile esitatud töö peab olema arvutikirjas ning eesti keeles.
                p.text-left
                    strong Tähtaeg:&nbsp;
                    | konkursile kandideerija esitab konkursi töö hiljemalt 21.03.2016, saates selle e-mailile info@helpific.com, märksõnaga “Konkurss”.
                p.text-left
                    strong Konkursiideede hindamine&nbsp;
                    | toimub Helpific MTÜ juhtiva meeskonna poolt ning võitja valitakse välja 31.03.2016. Võitjaga võetakse personaalselt ühendust. Konkursi korraldajal on õigus avaldada konkursi võitja nimi ja töö kirjeldus oma veebilehel ja sotsiaalvõrgustikes ning muudes kanalites.
                p.text-left
                    strong Auhind:&nbsp;
                    | kingituseks võitjale 250 eurot
                p.text-left
                    | Konkursi korraldajal on õigus jätta võitja välja kuulutamata ning auhind välja andmata, kui sobivat või sobival tasemel tööd ei laeku, samuti pikendada konkursi tähtaega. Konkursi auhind antakse üle kümnes (10) osas, üks (1) osa peale iga klipi stsenaariumi valmimist ja heakskiitmist Helpific MTÜ juhatuse poolt.
                p.text-left
                    strong Autoriõigused:&nbsp;
                    | konkursi võitja poolt käsundi täitmise käigus või selle  tulemusena loodud autoriõigustega kaitstava teose õigused lähevad nende õiguste tekkimisel üle konkursi korraldajale, Helpific MTÜ’le.
                h3.text-left
                    | Kontakt ja rohkem infot:
                p.text-left
                    | HELPIFIC MTÜ
                p.text-left
                    | Reg nr: 80380146
                p.text-left
                    | Keiu Roosimägi, projektijuht
                p.text-left
                    | e-mail: keiu.roosimagi@helpific.com
                p.text-left
                    | telefon: (+372) 5347 7636