extends layout
block vars
    - title = '“Note  gift , not the absence!”'
    - sub_title = 'Positive Attitude Development (P.A.D.)'

block content
    .container
        .row
            .col-sm-12.col-md-4
                img(src='/images/pad/Steering-Group-Meeting-in-Tallinn.jpg', class='img-responsive img-thumbnail')
            .col-sm-12.col-md-8(style='padding-left: 50px')
                p.text-left
                    h3 The purpose of the project is to decrease stigma, to increase social inclusion and to promote the access to labour market among young people with mental health problems.
                br
                p.text-left
                    | Project activities consist of face-to-face meetings with users with mental health problems, employers and inhabitants in defined areas in Finland and Estonia. Educational and training activities for users and professionals and a large media campaign to decrease stigma related to mental health problems.
                p.text-left
                    em P.A.D. project shall be implemented between May 2015 and April 2017.
            .spacer.col-xs-12

        .row
            .col-xs-12
                p.text-justify
                    h2 Project partners
            .col-sm-3.col-xs-6.text-center
                img(src='/images/pad/arcada-logo.png', class='img-responsive img-thumbnail', alt='Arcada University (Finland)')
            .col-sm-3.col-xs-6.text-center
                img(src='/images/pad/tallinna-ylikool-logo2.png', class='img-responsive img-thumbnail', alt='Tallinn University (Estonia)')
            .col-sm-3.col-xs-6.text-center
                img(src='/images/pad/vaimse-tervise-keskus-logo2.png', class='img-responsive img-thumbnail', alt='Tallinn Mental Health Centre')
            .col-sm-3.col-xs-6.text-center
                img(src='/images/pad/helpific-logo-text-hr2.png', class='img-responsive img-thumbnail', alt='Helpific MTÜ')
            .spacer.col-xs-12