extends layout
block vars
    - title = '“Увидь дар, не замечай изьянов!”'
    - sub_title = 'Развитие позитивного отношения ( РПО )'

block content
    .container
        .row
            .col-xs-12.col-sm-4
                img(src='/images/pad/Steering-Group-Meeting-in-Tallinn.jpg', class='img-responsive img-thumbnail')
            .col-xs-12.col-sm-8
                p.text-left
                    h3 Целью проекта является уменьшение смущения и стыда, увеличение социальнoй внедрённости и содействие в доступности к рынку труда среди молодых людей с психическими отклонениями.
                br
                p.text-left
                    | Деятельность проекта состоит в организации встреч tet-a-tet с пользователями портала, работодателями и жителями определённых областей Финляндии и Эстонии и включает в себя oбразовательные тренинг-процессы, нацеленные на обозначенную категорию пользователей и профессионалов, а так же, представляет собой объёмную рекламную акцию, направленную на  снижениe зависимости от устоявшихся в обществе канонов и  предрассудков, что касается психическиx заболеваний.
                p.text-left
                    em Проект будет осуществляться в течении двух лет, в период с мая 2015 по апрель 2017 годов.
            .spacer.col-xs-12

        .row
            .col-xs-12
                p.text-justify
                    h2 Партнёры проекта
            .col-sm-3.col-xs-6.text-center
                img(src='/images/pad/arcada-logo.png', class='img-responsive img-thumbnail', alt='Университет Аркада (Финляндия)')
            .col-sm-3.col-xs-6.text-center
                img(src='/images/pad/tallinna-ylikool-logo2.png', class='img-responsive img-thumbnail', alt='Таллинский Университет (Эстония)')
            .col-sm-3.col-xs-6.text-center
                img(src='/images/pad/vaimse-tervise-keskus-logo2.png', class='img-responsive img-thumbnail', alt='Таллинский Центр Психического Здоровья')
            .col-sm-3.col-xs-6.text-center
                img(src='/images/pad/helpific-logo-text-hr2.png', class='img-responsive img-thumbnail', alt='Helpific MTÜ')
            .spacer.col-xs-12