extends layout
block vars
    - title = '“Märka annet, mitte häiret”'
    - sub_title = 'Positiivse Suhtumise Arendamine (PSA)'

block content
    .container
        .row
            .col-sm-12.col-md-4
                img(src='/images/pad/Steering-Group-Meeting-in-Tallinn.jpg', class='img-responsive img-thumbnail')
            .col-sm-12.col-md-8(style='padding-left: 50px')
                p.text-left
                    h3 Projekti eesmärk on vähendada häbi, edendada sotsiaalset kaasamist ja soodustada vaimse tervise häirega noorte tööhõivet.
                br
                p.text-left
                    | Projekti tegevus hõlmab vaimse tervise häirega kasutajate, tööandjate ja kogukonna liikmete näost-näkku kohtumisi määratletud piirkondades Soomes ja Eestis, haridus- ja koolitustegevust sihtgrupile ning meediakampaaniat vähendamaks vaimse tervise probleemidega seotud häbi.
                p.text-left
                    em Projekti viiakse läbi vahemikus mai 2015 kuni aprill 2017.
            .spacer.col-xs-12

        .row
            .col-xs-12
                h3 Pakkumine lennuka mõtlemisega stsenaristile!


            .col-sm-12.col-md-8(style='padding-right: 100px')
                p.text-left
                    | Otsime stsenaristi loomaks käsikirja kümnele multifilmi klipile kestusega kuni üks minut. Klipid on osa meediakampaaniast, mille kaudu&nbsp;
                    strong soovitakse muuta hoiakuid vaimse tervise häirega noorte suhtes ning edendada nende tööhõivet.

                p.text-left
                    strong Kui oled väljakutsest huvitatud,&nbsp;
                    | palume esitada hiljemalt&nbsp;
                    strong 28.03.2016&nbsp;
                    | esimese klipi kirjalik stsenaarium ning visioon, kuhu lood välja viivad.

                p.text-left
                    strong Auhind:&nbsp;
                    | kingituseks võitjale&nbsp;
                    strong 250 eurot

                p.text-left
                    a(href='pad-konkurss') Konkursi tingimused

            .col-sm-12.col-md-4
                p.text-left
                    strong Kontakt ja rohkem infot:<br/>
                    | Keiu Roosimägi, projektijuht
                p.text-left
                    | e-mail:&nbsp;
                    a(href='mailto:keiu.roosimagi@helpific.com') keiu.roosimagi@helpific.com
                    | <br/>
                    | telefon: (+372) 5347 7636


            .spacer.col-xs-12

        .row
            .col-xs-12
                h3 Küsimustik
            .col-sm-12.col-md-8(style='padding-right: 100px')
                p.text-left
                    | Palume Sul vastata ausalt sellele küsimustikule, mis on osa Tallinna Ülikooli ja Arcada Ülikooli koostööprojektist “Positiivse suhtumise arendamine - edu vaimse tervise probleemidega noorte tööturule integreerumisel” ("Positive attitude development - access to labour market for young adults with mental health problems"). Küsimustele vastates jääd anonüümseks. Küsime e-posti aadressi vaid seetõttu, et võiksime sulle elektrooniliselt mõne kuu pärast ka jätkuküsimustiku saata.
                p.text-left
                    a(href='https://docs.google.com/forms/d/1Wg6b0Mv1LkSkqF7zdNaGA3dEZPiYu0j1UrArOgeBf3E/viewform') Kogukonna hoiakud vaimse tervise häirete suhtes
            .col-sm-12.col-md-4
                img(src='/images/pad/questionnaire.jpg', class='img-responsive img-thumbnail')
            .spacer.col-xs-12



        .row
            .col-xs-12
                p.text-justify
                    h2 Projekti partnerid
            .col-sm-3.col-xs-6.text-center.pad-partner-logo
                img(src='/images/pad/arcada-logo.png', class='img-responsive img-thumbnail', alt='Arcada Ülikool (Soome)')
            .col-sm-3.col-xs-6.text-center.pad-partner-logo
                img(src='/images/pad/tallinna-ylikool-logo2.png', class='img-responsive img-thumbnail', alt='Tallinna Ülikool (Eesti)')
            .col-sm-3.col-xs-6.text-center.pad-partner-logo
                img(src='/images/pad/vaimse-tervise-keskus-logo2.png', class='img-responsive img-thumbnail', alt='Tallinna Vaimse Tervise Keskus')
            .col-sm-3.col-xs-6.text-center.pad-partner-logo
                img(src='/images/pad/helpific-logo-text-hr2.png', class='img-responsive img-thumbnail', alt='Helpific MTÜ')
            .spacer.col-xs-12
            .col-sm-offset-3.col-sm-3.col-xs-6.text-center.pad-partner-logo
                img(src='/images/pad/EU_flag.jpg', class='img-responsive img-thumbnail', alt='EUROPEAN UNION')
            .col-sm-3.col-xs-6.text-center.pad-partner-logo
                img(src='/images/pad/interreg_central_baltic.jpg', class='img-responsive img-thumbnail', alt='Interreg Central Baltic')
            .spacer.col-xs-12