extends layout

block content
    //- #search.row(ng-controller='searchCtrl')
    //-   form.form-group.col-xs-10.col-sm-8.col-md-6.col-xs-offset-1.col-sm-offset-2.col-md-offset-3
    //-     label.col-xs-1(for='search-input')
    //-       i.fa.fa-search
    //-     input.col-xs-10.text-center(id='search-input', type='search', placeholder='', ng-model='search_query' autofocus)

    .row
        each p in profiles.sort(function(obj1, obj2) { return obj1.forename + obj1.surname > obj2.forename + obj2.surname })
            a.col-xs-6.col-sm-3.col-md-2(href='/profiles/' + p.id)
                img.col-xs-12.img-circle(src=p.photo, alt=p.forename, style='margin-bottom:20px')
                p.col-xs-12.text-center= p.forename
