extends layout

block content
    .row
        h1.col-xs-12= title
    .row
        ul.col-xs-12
            each p in profiles
                li
                    a(href='/profiles/'+p.id)= p.name
