extends layout

block header
    span.col-xs-12 Meet with
    | #{title}

block content
    .row
        img.col-xs-12(src=profile.photo)
    .row
        .col-xs-12
            ul.nav.nav-pills.nav-justified
                li(style='background-color: #fab235')
                    a(href='')= profile.forename
                li(style='background-color: #f14d3e')
                    a(href='') Minu unistused
                li(style='background-color: #55938e')
                    a(href='') Aitan sind
                li(style='background-color: #fab235')
                    a(href='') Aita mind
    .row
        .col-xs-12
            p!= md(profile.about.text)
