extends layout

block vars
    - title = 'Terms of Use and Privacy Policy of the Helpific website'

block content
    #tos.container
        .row
            .col-xs-12.text-justify
                ol
                    li
                        strong General Information
                        ol

                            li The terms of use and privacy policy (hereinafter
                                strong  the Terms and Conditions
                                | ) of this website apply to the website, its sub-pages and inextricably linked web applications (hereinafter jointly or separately referred to as
                                strong  the Website
                                | ) that belong to the
                                strong  NPO Helpific
                                |  (hereinafter
                                strong  Helpific
                                | ).
                            li Helpific's aim – with activities that are carried out via the Website – is to bring together Website users who need help (hereinafter
                                strong  Aid Seekers
                                | ) and those users who volunteer to help (hereinafter
                                strong  Helpers
                                | ), hereinafter separately referred to as
                                strong  User
                                |  and jointly as
                                strong  Users
                                | .
                            li On the Website, Users can create a personal profile (hereinafter
                                strong  the User Account
                                | ), which gives them the right to offer help on a voluntary basis, provide their services for a fee, make donations to other Users and/or receive fees for their services or voluntary assistance and donations from other Users.
                            li Donations and fees for services will be transferred to the NPO Helpific bank account first and then to the User's bank account within five (5) business days. Helpific's service charges are specified in its price list, which is posted on the Helpific website.
                            li Helpific has the right to unilaterally amend the Terms and Conditions at any time and Users undertake to remain informed of such changes. Continued use of the Website by Users following amendments to the Terms and Conditions shall constitute acceptance of said amendments.
                            li By using the Website, Users confirm that they have read and understood the Terms and Conditions and fully accept them. Issues that are not mentioned in the Terms and Conditions shall be dealt with according to the legislation of the Republic of Estonia and/or generally accepted international legal provisions. Any disputes arising from the use of the Website or the Terms and Conditions are subject to the jurisdiction of the courts of the Republic of Estonia.

                    li
                        strong Limitation of Liability
                        ol

                            li Users shall treat other users in accordance with the principle of good faith, good practice rules and generally accepted social norms, both on the Website and elsewhere. Users shall use the Website in such a way that the activity or inactivity of Users does not harm the rights of other Users and/or third parties or limit their use of the Website.
                            li Helpific has made every effort to ensure the accuracy of the information and data on the Website. Helpific shall nevertheless not be liable for the accuracy of this information and data nor the possible consequences and damage that may arise from using said information and data. Helpific shall not be liable for any damage arising from the use of this Website, regardless of whether Helpific is aware of a mistake,inaccuracy or any other error on the Website.
                            li Helpific shall not be liable for any meetings or cancellations of meetings that have been arranged on the Website, quality of assistance that is provided to Aid Seekers, fees or any other expenses or damage linked to helping Aid Seekers. Helpific shall likewise not be liable for comments and opinions that have been publicly posted by Users. Users are fully, independently and solely responsible for their decisions, choices, activity and inactivity when asking and receiving help, offering help and cancelling or not cancelling offers of assistance, providing or receiving services, making or receiving donations, or any other possible consequences.
                            li Aid Seekers acknowledge that the voluntary assistance provided via the Website is non-recurrent, unless they and the Helper agree otherwise.
                            li Helpific is not liable for the expenses that may arise from using the Website's functions and receiving and/or offering help. Aid Seekers and Helpers may agree to various arrangements regarding compensating expenses that arise from receiving and/or providing help. Helpific is not liable for the fulfilment of these arrangements.
                            li Users acknowledge that they shall assume full financial liability for damage caused by their wrongful conduct/behaviour, including violations of law or damage resulting from infringement of the Terms and Conditions.
                            li Helpific is not required to organise training for Helpers so that they can acquire the necessary knowledge, skills and methods.

                    li
                        strong Privacy Policy
                        ol

                            li By using the Website, Users explicitly agree to the processing of their personal data. Helpific collects and processes personal data in a fair and lawful manner and only to the extent necessary for the purposeful and safe use of the Website, in accordance with the Personal Data Protection Act enforced in the Republic of Estonia.
                            li By posting personal data (e.g. information and data that is visible in User Accounts) on the Website's public space, User acknowledge that this information is publicly visible and can be used and disclosed by other Users; Helpific shall not be held liable for any risks or damage that may arise from this.
                            li Should the Website contain links to other websites that collect personal information, Users’ personal data will be processed according to the privacy policy of that particular website, unless Helpific states otherwise. Helpific is not liable for the way in which these websites implement their privacy policies.
                            li With a User's consent, Helpific can disclose and disseminate the name of the Helper and photographs that have been taken of them in connection with volunteering, while ensuring that personal data is lawfully processed.

                    li
                        strong Copyright
                        ol

                            li All information and data in all its forms that is on the Website, including the Website's design and software, belongs to Helpific, unless stated otherwise, and can be used only for personal non-commercial purposes.
                            li Reproducing, distributing or disseminating any data found on the Website to third parties without prior written permission from Helpific is prohibited.
                            li Links in User Accounts and direct links to third-party websites do not constitute Helpific's approval of the services or products offered on said websites. Using such links is at Users’ own risk and Helpific shall not be liable for the content, availability or use of these websites. Helpific has not determined the degree to which these websites are truthful, accurate, reasonable, reliable or comprehensive.

                    li
                        strong Cookies
                        ol

                            li This Website uses cookies. A cookie is a text file that is stored on a User’s computer when the User visits a website.
                            li There are two types of cookies. The first type store information on the hard drive of the User's computer for a certain period of time. These cookies are used to inform the User of changes that have occurred on the Website since their last visit. The other type is a session cookie, which is stored only temporarily, during the actual visit to the Website.
                            li Helpific uses cookies to improve both the statistical data collected from Users and the functionality of the Website.
                            li In order to use the Website, the user must have enabled session cookies. These make it possible for the User to use the Website platform in a smooth fashion and are deleted once the User leaves the Website.
                            li If a User does not wish to allow cookies, they can change the security settings of their browser. Users should bear in mind that after disabling session cookies they will no longer be able to use the functions of the Website's application(s).

                    li
                        strong Rights and Obligations of Users
                        ol

                            li Users are aware that offering help on a voluntary basis is a voluntary activity which is not expected to be reimbursed with a fee or any other monetary benefits. The act of helping is not considered to be a form of employment within the context of an employment contract, nor is it a service or authorisation contract under the Law of Obligations Act.
                            li The precise and specific content, scope, extent (powers), deadline, means and place of providing help are agreed upon by Users for each instance of assistance separately.
                            li Helpers shall put the necessary effort into the assisting procedure in accordance with the nature of the assistance and personally provide help according to their knowledge and skills while keeping Aid Seekers’ best interests in mind.
                            li Helpers shall follow the instructions of Aid Seekers throughout the process of providing assistance. Helpers are required to notify Aid Seekers of all relevant circumstances, especially those that may prompt the Aid Seekers to alter their instructions or refuse the offer of assistance.
                            li Helpers may refuse to carry out actions that exceed the reasonable amount of assistance, are illegal, unethical or do not suit their abilities in terms of age, health or other respects.
                            li Helpers shall avoid situations that may endanger their own health or property, or those of Aid Seekers or third parties.
                            li In the event of force majeure, Helpers have the right to refuse to provide the assistance that has been agreed upon, but should notify Aid Seekers within a reasonable time. Force majeure is an external event or circumstance which could not have been influenced by the Helper or Aid Seeker; neither can they be expected to have taken the circumstances into account when agreeing to the helping procedure or to avoid it or overcome it or its effects.

                    li
                        strong Users have read the following additional materials:
                        ol
                            li
                                a(href='http://vabatahtlikud.ee/vabatahtlik-tegevus/vabatahtliku-tegevuse-hea-tava', target='_blank') Good Practice Guide for Volunteering

                            li
                                a(href='http://vabatahtlikud.ee/wp-content/uploads/2015/04/oigusanalyys.pdf', target='_blank') Analysis of legal environment of volunteering

        .row
            p.col-xs-12.text-justify * If you are concerned about the security of the Terms and Conditions of our Website, email us at
                a(href='mailto:info@helpific.com')  info@helpific.com
                |  and we will do our best to find a solution to your problem.

        .row.spacer
