extends layout

block vars
    - title = t('pages.users.title')

block content
    .container(ng-controller='usersCtrl')
        #search.row
            form.form-group.col-xs-10.col-sm-8.col-md-6.col-xs-offset-1.col-sm-offset-2.col-md-offset-3
                label.col-xs-1(for='search-input')
                    i.fa.fa-search
                input#search-input.col-xs-10.text-center(type='search', placeholder='', ng-model='search_query' autofocus)

            .col-xs-12.text-center(ng-if='!users && search_query')
                i.fa.fa-spinner.fa-pulse.fa-2x
            
            small.col-xs-12.text-center(ng-if='users')!= t('pages.users.count')

        .table
            .row(ng-repeat='u in users | filter:search_query | orderBy:["name"]')
                a(href='users/{{ u.id }}')
                    img.col-xs-2.col-sm-1.img-circle(ng-src='{{ u.picture }}', alt='{{ u.name }}')
                .col-xs-10.col-sm-4
                    a(href='users/{{ u.id }}') {{ u.name }}
                    br(ng-if='u.location')
                    em(ng-if='u.location') {{ u.location }}
                .col-xs-12.col-sm-7.col-xs-offset-2.col-sm-offset-0 {{ u.slogan }}

        .row.spacer
