body
    color #585858
    font-family 'Montserrat', sans-serif
    font-size 16px



header
    margin-top 50px
    margin-bottom 50px



a
    color #cd5c5c
    text-decoration underline

    &:hover
        color #cd5c5c
        text-decoration none



h1
    color #55938e
    font-size 64px
    font-weight normal
    height auto
    letter-spacing -4px

    span
        font-size 32px
        font-weight normal
        height auto
        letter-spacing -2px



h2
    color #55938e
    font-size 32px
    font-weight normal
    height auto
    letter-spacing -2px



ul.nav-pills
    margin-bottom 50px

    li
        a
            padding-top 25px
            padding-bottom 25px
            color #ffffff
            font-size 20px
            text-decoration none

            &:hover, &:active, &:focus
                padding-top 22px
                background none !important
                border-top solid 3px #ffffff
                border-radius 0px
                color #ffffff
                text-decoration none
