body
    color #585858
    font-family 'Montserrat', sans-serif
    font-size 16px



a
    color #cd5c5c
    text-decoration underline

    &:hover
        color #cd5c5c
        text-decoration none



h1
    color #55938e
    font-size 64px
    font-weight normal
    height auto
    letter-spacing -6px
    // line-height 38px
