[Unit]
Description=Helpific webpage on port %i etcd registration
Requires=etcd.service
Requires=helpific@%i.service
After=etcd.service
After=helpific@%i.service
BindsTo=helpific@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
Restart=always
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c '\
  while true; do \
    curl -f ${COREOS_PRIVATE_IPV4}:%i; \
    if [ $? -eq 0 ]; then \
      etcdctl set /services/helpific/${COREOS_PRIVATE_IPV4} \'${COREOS_PRIVATE_IPV4}:%i\' --ttl 30; \
    else \
      etcdctl rm /services/helpific/${COREOS_PRIVATE_IPV4}; \
    fi; \
    sleep 20; \
  done'
ExecStop=/usr/bin/etcdctl rm /services/helpific/${COREOS_PRIVATE_IPV4}

[X-Fleet]
MachineOf=helpific@%i.service
